.App {
  max-width: 800px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-text{
  margin: 10px;
  min-width: 300px;
}

.Compare-container {
  padding: 15px;
}

.Compare-button {
  padding: 10px;
  text-align: center;
}

.Compare-text {
  height: 200px!important;
  margin-bottom: 10px
}

.Compare-results{
  padding: 20px;
}

.Deleted-row {
  background-color: #FCD8D9;
}

.Added-row {
  background-color: #D8FCD8;
}

.Changed-row{
  background-color: #E6F0FC;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
